/*-----PICTURES-----*/
.pictures-section {
    padding-top: 47px;
    padding-bottom: 94px;
}
.pictures-title {
    margin-bottom: 50px;
}
.title-down {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: $title-color;
}
.pictures-list{
    display: flex;
}
.pictures  {
  margin-right: 30px;  
}